*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.content{
    width: 100%;
    background-image: url("../images/backgroundimg/content-3.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    box-shadow: 1px 1px 3px black;
}
.content_in{
    width: 100%;
    height: 100vh;
    padding: 10vh 5% 10% 5%;
    display: flex;
    justify-content: space-around;
}
.content_inL,
.content_inR{
    width: 45%;
}
.content_inL_1{
    width: 100%;
    height: 70vh;
}
.content_inR{
    background-color: rgba(5, 5, 5, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_inR_title{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 3px rgb(204, 204, 204);
    font-weight: bolder; 
}
.content_inR a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.39);
    font-size: 20px;
}
.content_inR a:hover{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
@media screen and (max-width:1260px){
    .content_inR{
        height: 90%;
    }
    .content_inR_title{
        font-size: 38px;
    }
    .content_inR a{
        font-size: 19px;
    }
    .content_inR a:hover{
        font-size: 24px;
    }
}


@media screen and (max-width:1060px){
    .content_inR{
        height: 90%;
        padding: 10px 0 30px 30px;
    }
    .content_inR_title{
        font-size: 36px;
    }
    .content_inR a{
        font-size: 18px;
    }
    .content_inR a:hover{
        font-size: 22px;
    }
    .content_inR h1{
        margin: 0px;
    }
} 


@media screen and (max-width:768px){
    .content_inR{
        display: none;
    }
    .content_inL{
        width: 100%;
    }
}  