* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;

    #myBtn {
        position: fixed;
        bottom: 25px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgba(255, 75, 75, 0.6);
        color: white;
        cursor: pointer;
        padding: 12px;
        border-radius: 4px;

        &:hover {
            background-color: #666;
        }

        &.block {
            display: block;
        }

        &.none {
            display: none;
        }
    }
}

section {
    padding-top: 56px;
    h3{
        color: #000;
        font-weight: bold;
    }
}

@import "import/_navbar.scss";

@import "import/_swiper.scss";

@import "import/_section_1.scss";

@import "import/_section_2.scss";

@import "import/_section_3.scss";

@import "import/_section_4.scss";

@import "import/_footer.scss";