*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.marry{
    /* width: 100%; */
    position: relative;
}
/* .swiper{
    width: 100%;
} */
.marry_text{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 8888;
}
.marry_text a{
    text-decoration: none;
}
.marry_text h1{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 3px 3px 3px black;
}
.marry_slide1{
    background-image: url("../images/swiper-marry/wb1.jpg");
}
.marry_slide2{
    background-image: url("../images/swiper-marry/wb2.jpg");
}
.marry_slide3{
    background-image: url("../images/swiper-marry/wb3.jpg");
}
.marry_slide4{
    background-image: url("../images/swiper-marry/wb4.jpg");
}
.marry_slide5{
    background-image: url("../images/swiper-marry/wb5.jpg");
}
@media screen and (max-width:768px){
    .marry_text h1{
        font-size: 30px;
    }
}
@media screen and (max-width:550px){
    .marry_text h1{
        font-size: 25px;
    }
}
@media screen and (max-width:450px){
    .marry_text h1{
        font-size: 20px;
    }
}
@media screen and (max-width:355px){
    .marry_text h1{
        font-size: 16px;
    }
}